* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    /* font-size: 10px; */
  
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;
  
    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
  }
  
  body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555555;
  
    /* Only works if there is nothing absolutely positioned in relation to body */
    overflow-x: hidden;
  }
/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  
    /* margin-bottom: 9.6rem; */
  }
  
  /* .grid:last-child {
    margin-bottom: 0;
  } */
  
  .grid:not(:last-child) {
    margin-bottom: 9.6rem;
  }
  
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  /* .grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
  } */
  
  .grid--center-v {
    align-items: center;
  }
  
  .heading-primary,
  .heading-secondary,
  .heading-tertiary {
    font-weight: 700;
    color: #555555;
    /* color: #45260a; */
    /* color: #343a40; */
    letter-spacing: -0.5px;
  }
  
  .heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }
  
  .heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
  }
  
  .heading-tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
    background-color: #a0e1d4;
  }
  
  .subheading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #555555;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
    background-color: #a0e1d4;
    height: 40px;
    width: 180px;
    padding-top: 10px;
    padding-left: 10px;
  }
  
  .info-text {
    color: #555555;
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 3.2rem;
    padding-bottom: 1.5rem;
  }
  
  .btn,
  .btn:link,
  .btn:visited {
    display: inline-block;
  
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 25px;
  
    /* Only necessary for .btn */
    border: none;
    cursor: pointer;
    font-family: inherit;
  
    /* Put transition on original "state" */
    /* transition: background-color 0.3s; */
    transition: all 0.3s;
  }
  
  .btn--full:link,
  .btn--full:visited {
    background-color: #7bdcb5;
    color: #fff;
  }
  
  .btn--full:hover,
  .btn--full:active {
    background-color: #ec7e66;
  }
  
  .btn--outline:link,
  .btn--outline:visited {
    background-color: #fff;
    color: #555;
  }
  
  .btn--outline:hover,
  .btn--outline:active {
    background-color: #fff;
  
    /* border: 3px solid #fff; */
  
    /* Trick to add border inside */
    box-shadow: inset 0 0 0 3px #7bdcb5;
  }
  
  .btn--form {
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    padding: 1.2rem;
  }
  
  .btn--form:hover {
    background-color: #fff;
    color: #555;
  }
  
  .link:link,
  .link:visited {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all 0.3s;
  }
  
  .link:hover,
  .link:active {
    color: #a0e1d4;
    border-bottom: 1px solid transparent;
  }
  
  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  
  .list-item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
  }
  
  .list-icon {
    width: 3rem;
    height: 3rem;
    color: #a0e1d4;
  }
  
  *:focus {
    outline: none;
    /* outline: 4px dotted #e67e22; */
    /* outline-offset: 8px; */
    box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
  }
  
  /* HELPER/SETTINGS CLASSES */
  .margin-right-sm {
    margin-right: 1.6rem !important;
  }
  
  .margin-bottom-md {
    margin-bottom: 4.8rem !important;
  }
  
  .center-text {
    text-align: center;
  }
  
  strong {
    font-weight: 500;
  }

  /**************************/
/* HEADER */
/**************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a0e1d4;
  
    /* Because we want header to be sticky later */
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
  }
  
  .logo {
    height: 90px;
  }
  
  /**************************/
  /* NAVIGATION */
  /**************************/
  
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }
  
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #555555;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
  }
  
  .main-nav-link:hover,
  .main-nav-link:active {
    color: #e1e1e0;
  }
  
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 12px;
    color: #fff;
    background-color: #555555;
  }
  
  .main-nav-link.nav-cta:hover,
  .main-nav-link.nav-cta:active {
    background-color: #a0e1d4;
  }

  /**************************/
/* HERO SECTION */
/**************************/

.section-hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
  
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Text styles */
    text-align: center;
    color: #fff;
  
    /* Background styles */
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.287), rgba(0, 0, 0, 0.269)),
      url(../images/pexels-jess-loiterton-4319735-hero-compressed.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .hero h1 {
    /* Text styles */
    font-size: 5em;
    color: #fff;
  
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  
  .hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
  
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  
    /* Text styles */
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
  
    /* Border styles */
    border: 3px solid #a0e1d4;
    border-radius: 20px;
  
    /* Background styles */
    background-color: #555555;
  }
  
  .hero-location {
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  /**************************/
/* ABOUT SECTION */
/**************************/

.section-about {
    padding: 9.6rem 0;
  }
  
  .step-number {
    font-size: 40px;
    font-weight: 600;
    color: #a0e1d4;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    background-color: #555555;
  }
  
  .step-description {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  
  .step-img-box {
    position: relative;
    margin-top: 1.2rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .step-img-box::before,
  .step-img-box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .step-img {
    width: 70%;
    border-radius: 12px;
    border: solid #a0e1d4 5px;
    /* z-index: 10; */
  }
  
  .about-quote {
    padding-top: 50px;
  }

  /**************************/
/* SURF/YOGA PACKAGE */
/**************************/

.section-package {
    padding: 9.6rem 0;
  }
  
  .package {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
  }
  
  .package:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }
  
  .package-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  
  .package-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
  }
  
  .tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #555555;
    border-radius: 100px;
    font-weight: 600;
  }
  
  .tag--sea-view {
    background-color: #a0e1d4;
  }
  .tag--surf {
    background-color: #a0e1d4;
  }
  .tag--yoga {
    background-color: #a0e1d4;
  }
  
  .package-title {
    font-size: 2.4rem;
    color: #555555;
    font-weight: 600;
    margin-bottom: 3.2rem;
  }
  
  .package-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .package-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  
  .package-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #a0e1d4;
  }
  
  .package-img {
    width: 100%;
  }
  
  .all-recipes {
    text-align: center;
    font-size: 1.8rem;
  }

  /**************************/
/* THE KITCHEN */
/**************************/

.section-the-kitchen {
    padding: 9.6rem 0;
  }
  
  .section-the-kitchen {
    /* Sizing */
    width: 100vw;
    height: 70vh;
  
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* Text styles */
    text-align: center;
    color: #fff;
  
    /* Background styles */
  
    background-image: linear-gradient(rgba(0, 0, 0, 0.287), rgba(0, 0, 0, 0.269)),
      url(../images/pexels-mateusz-dach-3660229-compressed.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .heading-primary {
    font-size: 50px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0.5em;
  }